# OS / editor cruft
.DS_Store
.vscode/
.idea/

# Go build outputs
*.exe
*.dll
*.so
*.test
*.out
*.log

# Project binaries
out.bin

# WebAssembly build artifacts
web/algui/main.wasm

# Dependency / build directories
bin/
dist/
cover/
frontend/
*.zip
listfuncs/
streamers.json
data/alertserver.log
